
td{
	width: 40px;
	text-align: center;
	cursor: pointer;
    padding: 15px 20px 15px 20px;
    margin: 10px;
    border: solid black;
}


table { 
  width: 100%; 
  border-collapse: collapse; 
}


tdDiv {
    display: table;
    width: 250px;
    table-layout: fixed;
    margin-bottom: 20px;
}

cellDiv {
    display: table-cell;
    border: 1px dotted red;
    padding: 4px 6px;
    width: 2%;
    margin-bottom: 0;
}

.cellInput {
	line-height: normal;
    width: 50px;
    text-align: center;

}

.cellInput:focus{
	outline: none;
}

.elementName{
	border: none;
}