

/* required LIB STYLES */
/* .Treant se automatski dodaje na svaki chart conatiner */
.Treant { 
	position: relative; 
	overflow: hidden; 
	padding: 0 !important; 
}
.Treant > .node, 
.Treant > .pseudo { 
	position: absolute; 
	display: block; 
	visibility: hidden;
	border: 1px solid black;
	padding: 3px;
	cursor: pointer;
	border-radius: 7px;
	background-color: #5d6c7b3b;
    font-weight: 600;
}
.node > p {
	
	margin-bottom: 0;
}

.Treant.Treant-loaded .node,
.Treant.Treant-loaded .pseudo { 
	visibility: visible; 
}
.Treant > .pseudo { 
	width: 0; 
	height: 0; 
	border: none; 
	padding: 0; 
}
.Treant .collapse-switch { 
	width: 100%; 
	height: 100%; 
	display: block; 
	
	position: absolute; 
	top: 1px; 
	right: 1px; 
	cursor: pointer; }
.Treant .collapsed .collapse-switch { 
	border-radius: 7px;
	background-color: skyblue;
	opacity: 0.2;
}
.Treant > .node img {	
	border: none; 
	float: left;
}

.node-name{
	margin: 0;
	padding: 0;
}

.node-desc{
	font-size: smaller;
    font-weight: normal;
	white-space: pre-wrap;
}